:root {
 --font: "Old Standard TT", serif;
 --primary-color: #211512;
 --text-color: #fff;
 --text-color-placeholder: #D3D3D3;
 --font-accent: "Parisienne", cursive;
 --link--hover-color: #d2d2d2;
 --primary-color-light: #D6BFA2;
 --color-bg: #ad7461
}

* {
 box-sizing: border-box;
}

body {
 font-family: var(--font);
 background: var( --color-bg);
 font-style: normal;
 font-weight: 400;
 margin: 0;
 padding: 0;
}

html {
 font-size: calc(0.625rem + 0.41666666666666663vw);
}

h1 {
 font-size: 2rem;
}

p {
 font-size: 1rem;
 margin: 0;
 padding: 0;
}

html {
 font-size: 1rem;
}
a{
 text-decoration: none;
}
@media screen and (max-width:1920px) {
 html {
  font-size: calc(0.625rem + 0.41666666666666674vw);
 }
}
@media screen and (max-width:1440px) {
 html {
  font-size: calc(0.7190426638917794rem + 0.3121748178980229vw);
 }
}
@media screen and (max-width:479px) {
 html {
  font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
 }
}