.text{
 color: var(--text-color);
 font-family: var(--font);
 font-size: 2rem;
 font-style: normal;
 font-weight: 400;
 line-height: 110%;
}
.center{
 text-align: center;
}
.left{
 text-align: left;
}
.right{
 text-align: right;
}